@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background: url(../img/pixelcut-export.jpeg) no-repeat center center fixed;
    background-size: cover; /* Mantiene la imagen de fondo adaptada */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  
    
    
}

.containerDisco {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin-top: 300px;
}

.neon-button,
.recompensaDiaria,
.logo-button {
    width: 100px;
    height: 100px;
    background-color: deeppink;
    border: 3px solid #e90909;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 20px #f00094, 0 0 40px #a11089, 0 0 60px #96138f;
    transition: box-shadow 0.5s, color 0.5s, border-color 0.5s;
    overflow: hidden;
    position: relative;
}

.neon-button img,
.recompensaDiaria img,
.logo-button img {
    width: 80%;
    height: auto;
    border-radius: 50%;
}

.neon-button:hover,
.recompensaDiaria:hover,
.cantidad-monedas:hover {
    box-shadow: 0 0 30px #ff0000, 0 0 60px #ff0000, 0 0 90px #f30000;
    border-color: #ff3c00;
}

.neon-button:active,
.recompensaDiaria:active
.cantidad-monedas:active {
    transform: scale(0.95);
    box-shadow: 0 0 30px #ff0000, 0 0 50px #f00000, 0 0 80px #ff0000;
}

.logo-button {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 300px;
    border: 3px solid #d48383;
    box-shadow: 0 0 20px #ddd7d9, 0 0 40px #a11089, 0 0 60px #96138f;
}

.logo-button img {
    width: 125%;
    margin-left: 11px;
}

.usuario-boton {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    background-color: #410c2b;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px #ddd7d9, 0 0 40px #a11089, 0 0 60px #96138f;
    color: #fff;
    max-width: 300px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.usuario-boton:hover {
    background-color: #ad2a8d;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.info-usuario {
    flex-grow: 1;
}

.nombre-usuario {
    font-size: 15px;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive; /* Aplica la fuente a todo el cuerpo */
  
}

.barra-nivel {
    background-color: #bdc3c7;
    border-radius: 5px;
    width: 100%;
    height: 10px;
    margin-top: 5px;
}

.nivel {
    height: 100%;
    background-color: #d316b3;
    border-radius: 5px;
    transition: width 0.3s;
}

.texto-nivel {
    font-size: 10px;
    margin-top: 15px;
    font-family: 'Press Start 2P', cursive; 
}

.cantidad-monedas{
    position: absolute;
    top: 150px; /* Separación desde la parte superior */
    left: 10px; /* Separación desde el lado derecho */
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 3px solid #e90909;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 20px #f00094, 0 0 40px #a11089, 0 0 60px #96138f;
    transition: box-shadow 0.5s, color 0.5s, border-color 0.5s;
    overflow: hidden;
    background-color: deeppink;
}

.recompensaDiaria {
    position: fixed; /* Fijar el botón en la pantalla */
    top: 20px; /* Separación desde la parte superior */
    right: 20px; /* Separación desde el lado derecho */
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 3px solid #e90909;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 20px #f00094, 0 0 40px #a11089, 0 0 60px #96138f;
    transition: box-shadow 0.5s, color 0.5s, border-color 0.5s;
    overflow: hidden;
    background-color: deeppink;
}

.recompensaDiaria:hover {
    box-shadow: 0 0 30px #ff0000, 0 0 60px #ff0000, 0 0 90px #f30000;
    border-color: #ff3c00;
}

.recompensaDiaria:active {
    transform: scale(0.95);
    box-shadow: 0 0 30px #ff0000, 0 0 50px #f00000, 0 0 80px #ff0000;
}

.recompensaDiaria img {
    width: 90%;
    height: auto;
    border-radius: 100%; /* Ajusta para que la imagen se vea redondeada */
    margin-left: 1px;
}
.containerDisco {
    display: flex;
    justify-content: space-between; /* Alinea los elementos en espacio entre */
    align-items: center;
    width: 400px; /* Asegúrate de que esto se ajuste a tu diseño */
    margin-top: 300px;
}
.luz-busqueda {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 100px;
    background: radial-gradient(circle, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%);
    transform: translate(-50%, -50%);
    filter: blur(20px);
    animation: movimiento 3s infinite ease-in-out, titileo 0.2s infinite;
}

@keyframes movimiento {
    0% { top: 10%; left: 80%; }
    25% { top: 30%; left: 20%; }
    50% { top: 60%; left: 50%; }
    75% { top: 80%; left: 70%; }
    100% { top: 40%; left: 80%; }
}

@keyframes titileo {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
}



@media (max-width: 768px) {
    .usuario-boton {
        max-width: 80%; /* Reducimos el ancho máximo del botón */
        padding: 8px 15px;
        font-size: 14px;
    }
    .avatar {
        width: 40px; /* Hacemos el avatar más pequeño */
        height: 40px;
        margin-right: 10px;
    }
    .luz-busqueda {
        width: 80px; /* Tamaño más pequeño para tablets */
        height: 130px;
        filter: blur(15px); /* Reducimos el desenfoque para mantener proporciones */
}
}
@media (max-width: 480px) {
    .neon-button,
    .recompensaDiaria,
    .cantidad-monedas {
        width: 25vw; /* Ajustamos el tamaño de los botones en móviles */
        height: 25vw;
        box-shadow: 0 0 1.5vw #f00094, 0 0 3vw #a11089, 0 0 4.5vw #96138f;
        border: 0.5vw solid #e90909;
    }

    .logo-button {
        width: 70vw; /* Logo más grande en móviles */
        height: 70vw;
        box-shadow: 0 0 2vw #ddd7d9, 0 0 4vw #a11089, 0 0 6vw #96138f;
        top: 15%; /* Centrar el logo verticalmente */
        left: 51%; /* Centrar el logo horizontalmente */
    }

    .usuario-boton {
        max-width: 80%; /* Ajustamos el ancho máximo del botón de usuario */
        padding: 5px 10px;
        font-size: 14px;
    }

    .avatar {
        width: 12vw; /* Hacemos el avatar más pequeño */
        height: 12vw;
        margin-right: 10px;
    }

    .luz-busqueda {
        width: 10vw;
        height: 12vh;
        filter: blur(5px);
    }
}

/* Estilos para pantallas con ancho hasta 1080px en orientación horizontal (landscape) */
@media (min-width: 768px) and (max-width: 1080px) and (orientation: landscape) {
    .neon-button,
    .recompensaDiaria,
    .cantidad-monedas {
        width: 12vw; /* Ajustamos el tamaño de los botones */
        height: 12vw;
        box-shadow: 0 0 1.5vw #f00094, 0 0 2.5vw #a11089, 0 0 4vw #96138f;
        border: 0.6vw solid #e90909;
    }

    .logo-button {
        width: 30vw; /* Ajustamos el tamaño del logo */
        height: 30vw;
        box-shadow: 0 0 1.5vw #ddd7d9, 0 0 3vw #a11089, 0 0 5vw #96138f;
        top: 8%;
        left: 51%;
        transform: translateX(-50%);
    }

    .usuario-boton {
        max-width: 70%; /* Ajustamos el ancho máximo del botón de usuario */
        padding: 8px 15px;
        font-size: 15px;
    }

    .avatar {
        width: 10vw; /* Ajustamos el tamaño del avatar */
        height: 10vw;
        margin-right: 10px;
    }

    .luz-busqueda {
        width: 10vw;
        height: 12vh;
        filter: blur(5px);
    }
}

